#start-pac {
    position: relative;
    top: 40px;
    display: flex;
    justify-content: center;
}

#end-pac {
    position: relative;
    display: flex;
    justify-content: center;
    top: 65vh;
    /* margin: 40px; */
}

#add-poi {
    position: absolute;
    top: 22vh;
    left: max(313px, 20%);
}

#search-route-button {
    float: right;
    position: absolute;
    top: 83vh;
    left: max(250px, 20%);
    border-radius: 300px;
}

#poi-container {
    position: relative;
    top: 50px;
}

.pac-title {
    position: relative;
    top: -30px;
}

.MuiSpeedDial-actions {
    position: relative;
    right: 55px;
    top: 125px;
}
