#start-pac {
    position: relative;
    top: 60px;
    display: flex;
    justify-content: center;
}

#poi {
    position: relative;
    height: 20vh;
    top: 5vh;
}

#end-pac {
    position: relative;
    display: flex;
    justify-content: center;
    top: 300px;
    /* margin: 40px; */
}

.pac-title {
    position: relative;
    top: -30px;
}

.MuiSpeedDial-actions {
    position: relative;
    left: 55px;
    top: 125px;
}